.container {
  margin: 0 auto;
  width: 90%;
}

.col-lg-9 small {
  margin-right: 30px;
}

i {
  margin-right: 5px;
}

p {
  margin-top: 15px;
}

img {
  width: 60%;
}

app-feature-article {
  margin-bottom: 40px;
}

.list-group-item {
  border: 1px solid #7cdbd5
}

